.stackedit__left
		.stackedit__toc
			ul
				li
					a(href='#reuni達o-de-revis達o-sprint-80') Reuni達o de revis達o Sprint #{sprint_number}
					ul
						li
							a(href='/') Voltar
						li
							a(href='#meta') Meta
						li
							a(href='#tarefas') Tarefas
						li
							a(onclick="window.print()") Imprimir