/* custom...*/
.form-checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	position: relative;
	background-color: #f1f1f1;
	color: #22844f;
	height: 30px;
	width: 30px;
	border: solid 1px #d4cbcb;
	cursor: pointer;
	margin-right: 7px;
	outline: none;
}

.form-checkbox:checked::before {
	position: absolute;
	font: 13px/1 'Open Sans', sans-serif;
	left: 11px;
	top: 7px;
	content: '\02143';
	transform: rotate(40deg);
}

.form-checkbox:hover {
	background-color: #f7f7f7;
}

.form-checkbox:checked {
	background-color: #f1f1f1;
	border: solid 2px #107b10;
}

label {
	font: 300 16px/1.7 'Open Sans', sans-serif;
	color: #22844f;
	cursor: pointer;
}

/*replaces */
.stackedit__html {
	max-width: 1000px !important;
}
